<html>
    <head>
        <meta charset="utf-8">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <h1 align="center">Mercado Liebre</h1>
        <img width="200px" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <p>Lugar donde va la barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li>Perfil</li>
            <li>Comprar</li>
            <li>Ayuda</li>
            <li>Ofertas</li>
        </ul>
        <ul>
            <li>Crear Cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
        </ul>
        <img src="/images/img-home-banner.jpg" alt="Banner" width="400px" >
    <div>
        <h1>Basado en tus ultimas visitas</h1>

            <h4>Cafetera Moulinex Dolce Gusto</h4>
            <img width="200px" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>

            <h4>Macbook Pro 2019</h4>
            <img width="200px" src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook">
            <p>$120.000</p>
            <p>Cuotas sin interés</p>

            <h4>Samsun Galaxy S10</h4>
            <img width="200px" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen samsung galaxy">
            <p>$65.000</p>
            <p>15% OFF</p>

            <h4>TV Samsung Smart</h4>
            <img width="200px" src="/images/img-tv-samsung-smart.jpg" alt="Imagen smart samsung">
            <p>$30.000</p>
            <p>Envío gratis</p>
    </div>
    <div>
        <h1>Ofertas</h1>
        <img src="/images/banner_ofertas.jpg" alt="Ofertas" width="200px" >
        

            <h4>TV Samsung Smart</h4>
            <img width="200px" src="/images/img-tv-samsung-smart.jpg" alt="Imagen smart samsung">
            <p>$30.000</p>
            <p>Envío gratis</p>

            <h4>Cafetera Moulinex Dolce Gusto</h4>
            <img width="200px" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>

            <h4>Macbook Pro 2019</h4>
            <img width="200px" src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook">
            <p>$120.000</p>
            <p>Cuotas sin interés</p>

            <h4>Samsun Galaxy S10</h4>
            <img width="200px" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen samsung galaxy">
            <p>$65.000</p>
            <p>15% OFF</p>
    </div>
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <h5>Envío gratis desde los $ 2.500</h5>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>

        <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>


        <p align = "center" with="360px">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </body>
</html>